* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    /* font-family: 'Work Sans'; */
}

section {
    margin-top: 130px;
}

/* header */
.header {
    width: 100%;
    height: 700px;
    background-color: lightgray;
    background-image: url(../images/banner/banner1.png);
    background-repeat: no-repeat;
    background-size: cover;



}

.header-position {
    padding-right: 140px;
    padding-left: 550px;
    padding-top: 180px;
    text-align: right;


}

.header-title {
    font-weight: 700;
    font-size: 65px;
    margin-bottom: 24px;
    color: #151414;

}

.description-primary {
    color: #444343;

}

.header-button {
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    padding: 20px 25px;
    background-color: #f53232;
    border: 1px solid #f53232;
    margin-top: 32px;
    border-radius: 5px;

}

/* My failures */
.failer {
    margin: 0 140px;
    display: flex;
    gap: 100px;
}

.failer-images {
    width: 550px;
    height: 700.3px;
    margin-left: 100px;
}

.failur-description {
    width: 420px;
    height: 400px;
    padding-top: 300px;
}

.title-primary {
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 24px;
    color: #151414;

}

.failer-opint {
    margin-top: 16px;
}

.failer .description-primary {
    padding-bottom: 8px;
}

span {
    color: red;
}

/* my plans */
.plans {
    text-align: center;
    margin: 0 140px;
    padding-top: 130px;

}

.plans-items {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;

}

.plans-title {
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 16px;
    color: #151414;
    margin-top: 24px;
}

.plans-description {
    font-weight: 500;
    font-size: 25px;
    color: #737272;
}

/* life style */

.life-style {
    text-align: center;
    margin: 0 140px;
    padding-top: 130px;

}

.life-style-header-description {
    font-weight: 500;
    font-size: 30px;
    color: #737272;
}

.life-style-items {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;

}

.life-style-title {
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 16px;
    color: #151414;
    margin-top: 24px;
}

.life-style-description {
    font-weight: 500;
    font-size: 25px;
    color: #737272;
}

/* position mindset contact section */

.contact {
    margin: 130px 140px;
    height: 300px;
    background-image: url(../images/watch.png), url(../images/gradient2.png);
    background-size: cover;
    /* background-blend-mode: multiply; */
    background-blend-mode: hard-light;
    border-radius: 8px;
}

.contact-title {
    font-weight: 700;
    font-size: 40px;
    font-weight: 700;
    font-size: 40px;
    padding: 50px 65px 10px 65px;
    color: #FFFFFF;
    width: 500px;
}

.contact-button {
    font-weight: 600;
    font-size: 20px;
    color: #F15B22;
    padding: 20px 35px;
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
    margin-top: 32px;
    border-radius: 8px;
    margin-left: 65px;

}

/* footer part */
footer {
    width: 100%;
    height: 500px;
    background: #151414;
}

.footer-part {
    display: flex;
    margin: 0 140px;
    gap: 50px;
    justify-content: space-between;
}

.footer-futire-title {
    font-weight: 700;
    font-size: 45px;
    color: #F8F8F8;
    padding: 130px 0px 16px;
}

.footer-futire-description {
    color: #FFFFFF;
    width: 450px;
}

.footer-futire-description-middel {
    color: #FFFFFF;
    width: 450px;
    padding: 24px 0px 16px;

}

.footer-subscribe-title {
    font-weight: 600;
    font-size: 25px;
    color: #FFFFFF;
    padding: 130px 0px 31px;
}

.footer-email-box {
    height: 64px;
    width: 325px;
    border: 1px solid #FFFFFF;
    border-radius: 8px;
    background-color: #151414;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 18px;
    padding-left: 16px;
    margin-bottom: 16px;
}

.subscribe-button {
    font-weight: 600;
    font-size: 20px;
    color: #F15B22;
    padding: 20px 35px;
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 8px;

}

footer a img {
    margin-top: 32px;
    margin-right: 18px;
}

footer a {
    text-decoration: none;
}